* {
    font-family: Garamont;
}
#baner{
    float: left;
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
}
#dol{
    float: left;
    width: 80%;
    height: 600px;

}
#prawy {
    float: right;
    background-color: coral;
    width: 20%;
    height: 680px;
}
#stopka{
    clear: both;
    background-color: tomato;
    color: white;
    text-align: center;
}
img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
#chat{
    border: 1px solid tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}
.jolka, .krzysiek{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;

}
.jolka{
    background-color: #EEE;
    text-align: left;
    


}
.krzysiek{
    background-color: #CCC;
    text-align: right;
    
    

}
.jolka img{
    float: left;
}
.krzysiek img{
    float: right;
}
input[type=button]{
    background-color: tomato;
    border: 1px solid darkred;
    padding: 5px;
    font-weight: bold;

}
input[type=text]{
    width: 500px;
}