*{
    font-family: Cambria;
}
body {
    background-color: linen;
}
#baner, #stopka, #lewy{
    background-color: skyblue;
    color: white;
    text-align: center;
}
#lewy{
    float: left;
    width: 25%;
    height: 510px;
    margin: 0px 1px 0px 1px;
    box-shadow: 4px 4px 5px dimgray;
}
#baner{
    width: 73%;
    height: 80px;
}
main {
    float: right;
    width: 73%;
    height: 400px;
}
input[type=button]{
    background-color: steelblue;
    color: white;
    width: 20%;
    padding: 15px;
    margin-top: 30px;
    font-size: 130%;
    border: none;
}
input[type=button]:hover{
    background-color: navy;
}
 #main1, #main2, #main3 {
    
    background-color: lightblue;
    margin-right: 80px;
    padding: 10px;
}
 #progres{
    float: right;
    background-color: lightgray;
    width: 73%;
    margin-bottom: 10px;
}
 #progres>div{
    background-color: navy;
    width: 4%;
    height: 30px;
}
table {
    width: 100%;
    border: 1px dotted navy;
}
#baner{
    float: right;
    
}
#stopka {
    clear: both;
}

