* {
    font-family: Helvetica;
}
#baner, #stopka{
    background-color: sienna;
    color: white;
    padding: 10px;
    text-align: center;
}
#lewy, #prawy {
    background-color: navajowhite;
    width: 15%;
    height: 700px;
}
#lewy {
    float: left;

}
#medium {
    float: left;
    width: 70%;
    height: 700px;
    overflow: scroll;
}
#prawy {
    float: right;
}
#stopka {
    clear: both;
}
img {
    width: 100%;
}
div.galery {
    float: left;
    width: 46%;
    position: relative;
    margin: 2%
}
h3,p,a {
    opacity: 0;
    position: absolute;
}
h3 {
    top: 5%;
}
p{
    top:30%;
}
a{
    top:70%;
    left: 70%;
    background-color: sienna;
    padding: 15px;
}
.galery:hover{
        img{
        transition: opacity 0.5 ease;
        opacity: 0.3;
            }
    h3,p, a{
    opacity: 1;
}
}
