* {
    font-family: Cambria;
}
header {
    background-color: #c2185b;
    color: white;
    text-align: center;
    padding: 15px;
}
main {
    background-image: url('tulipany.jpg');
    height: 500px;
}
footer {
    float: left;
    background-color: #c2185b;
    color: white;
    width: 25%;
    height: 240px;
}
#blok1,#blok2,#blok3{
    float: left;
    background-color: #fce4ec;
    width: 25%;
    height: 300px;
    margin: 25px;
    padding: 16px;
}
p{
    padding-top: 20px;
}
a {
    color: white;
}
input[type=text],
input[type=password],
input[type=email],
input[type=tel]{
    width: 80%;
    height: 30px;
    margin: 10px;
}
input[type=button]{
    color: white;
    background-color: #c2185b;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}
video {
    width: 100%;
    height: 100%;
}